#root {
  --header-height: 5rem;
  --sidebar-width: 19rem;
  --hr-color: hsla(0, 0%, 87%, 1);
  --error-red-color: #ed4956;
  --good-green-color: #419341;
  --usually-color: #F29CC9;
  --hover-color: #D25283;
  --usually-text-color: hsla(189, 89%, 17%, 1);
  --hover-color-for-button: hsla(0, 0%, 93%, 1);
  --typical-gray-color: hsla(189, 13%, 50%, 1);
  --transition-for-button: ease-in-out 200ms;
  --typical-font-minititle: 600 22px/24px Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --typical-font: 600 16px/20px Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;

}

body {
  margin: 0;
  padding: 0;
}

main {
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: calc(100% - var(--header-height));
  color: var(--usually-text-color);
}

h2 {
  font-size: 32pt;
  font-weight: bolder;
}
