.createTestWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 900px;
}

.questionsWrapperWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.questionWrapper {
  border-radius: 16px;
  border: #dbdbdb solid 3px;
  min-height: 200px;
  min-width: 900px;
  padding: 15px;
}

.testTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 900px;
}

.inputTimesWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputWrapper h3 {
  margin: 0;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.inputWrapper div, .inputWrapper p {
  margin: 0;
  color: #666;
  font-size: 16px;
}

.input {
  box-sizing: border-box;
  outline: none;
  appearance: none;
  scrollbar-width: none;
  resize: none;
  min-width: 723px;
  min-height: 100px;
  background-color: #fafafa;
  border: 0.01rem solid;
  border-color: #dbdbdb;
  border-radius: 10px;
  color: #494949;
  font-size: 10pt;
  font-weight: 200;
  letter-spacing: 0.04rem;
  padding: 0.7rem;
  position: relative;
}

.input:focus {
  outline: none;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  margin: 50px 0 0 0;
  justify-content: space-between;
  gap: 100px;
}

.countdown {
  font-size: 18px;
  font-weight: bold;
  color: #ff0000;
}