.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: 3px solid #dbdbdb;
  border-radius: 16px;
  gap: 1rem;
  padding: 0.1rem 3rem;
  margin-top: 1.5rem;
}
